<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>F3KScore Viewer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Shows F3K scores online.">
    <meta name="author" content="Johan Van den Brande <johan@vandenbrande.com>">
    <%= stylesheet_link_tag "site.css", :media => "screen", :type => "text/css" %>
    <%= stylesheet_link_tag "print.css", :media => "print", :type => "text/css" %>
    <%= javascript_include_tag :app %>
    <style>
      body {
        padding-top: 60px;
      }
    </style>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">F3K Score Viewer</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active" id="menuHome"><a href="index.html">Home</a></li>
              <li id="menuAbout"><a href="about.html">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
        <%= yield %>
    </div>

  </body>
</html>
